.container
  h2.page-section-title Want to Sponsor?
  p The KOTESOL National Conference is an excellent opportunity to reach some of the best ELT teachers in Korea.
  p Contact our 
    a(href="mailto:") sponsor team 
    | for more information regarding sponsor packages.
  //- a.page-button.sponsor-button(href='/sponsors', style='text-align: center;') View all sponsors &rarr;
