.call-to-action
  .container.small
    h2.call-title Want to Sponsor?
    p The KOTESOL National Conference is an excellent opportunity to reach some of the best ELT teachers in Korea.
    a.button.btn.right.big(href="mailto:jnj.presenters@gmail.com") 
      | Sponsor
    p Contact our 
      //- a(href="mailto:jnj.presenters@gmail.com") 
      strong sponsor team 
      | for more information regarding sponsor packages.
    //- a.page-button.sponsor-button(href='/sponsors', style='text-align: center;') View all sponsors &rarr;
