//- .container.small.meta-info
//-   h2.page-section-title Conference Venue
//-   h4.page-section-subtitle Jeonju University, Star Center, Room 302
//-   a.button(href='http://koreatesol.org/content/jeonju-venue-directions') Venue Directions PDF
img.full-bleed(src='/img/location/jju-huge-crop-2.jpg')
section.page-section
  .container.small
    p
      strong Jeonju University
      |  is located at the west end of Jeonju. From the bus terminal, it will take approximately 15 minutes by taxi (probably a little more than 5,000 won) to arrive there. 
      strong Star Center
      |  is located right in the center the university, and is the largest building on campus. It sits just in front of the large clock tower building (pictured above), and has tennis courts below it.
    p
      | The conference will take place on the 
      strong 3rd floor
      |  of Star Center. You may enter through either the 
      strong Onnuri Hall
      |  auditorium entrance (in front of the clock tower), or the 
      strong Food Court
      |  entrance (one level higher, near the fountain).
    p
      | The tallest building in the picture above is the 
      strong Star Tower
      |  student dormitory building. It is located over the 
      strong Old Gate
      |  entrance road. The 
      strong New Gate
      |  entrance road is located to the left of the picture between the green golf netting and cluster of white Engineering buildings there.
    img(src='/img/location/map_doctored_med.jpg')
    br
    a(href='http://www.jj.ac.kr/jj/introduction/location.jsp') Transportation directions in Korean
    h4 From Old Gate (&#xC804;&#xC8FC;&#xB300; &#xAD6C;&#xC815;&#xBB38;):
    small.note
      | (Pictured at the 
      strong right side
      |  - #39)
    ol
      li
        | Enter through the Old Gate and walk until you reach the roundabout near the clock tower (#33).
      li Star Center is the (newest) building on your left (#31, highlighted in yellow).
      li
        | Enter the building and take the elevator to the 
        strong 3rd floor
        | .
    h4 From New Gate (&#xC804;&#xC8FC;&#xB300; &#xC2E0;&#xC815;&#xBB38;):
    small.note
      | (Pictured at the 
      strong bottom
      |  - #30)
    ol
      li
        | Enter through the New Gate and walk until you reach the far end of the first big white Engineering building (#27).
      li
        | Turn right, and walk up the hill a bit. Star Center and its Library will be on your left (#31, highlighted in yellow).
      li  Enter the Parking Garage and walk through to the far side.
      li
        | Then take the elevator to the 
        strong 3rd floor
        | .
    h4 Taxi Directions
    small.note
      | (To the 
      strong clock tower
      |  - #33)
    ol
      li &#xC804;&#xC8FC;&#xB300;&#xD559;&#xAD50;
      li &#xAD6C;&#xC815;&#xBB38; (Old Gate)
      li &#xD559;&#xC0DD;&#xD68C;&#xAD00; (Student Union Building, clock tower)
      li Star Center is across from the student union/clock tower
    h4 Public Transportation
    ul
      li
        | Express Bus: 
        a(href='http://www.kobus.co.kr/web/eng/index.jsp') http://kobus.co.kr/
      li
        | Train: 
        a(href='http://www.letskorail.com/ebizbf/EbizBfTicketSearch.do') http://letskorail.com
      li
        | Car: 
        a(href='http://www.jj.ac.kr/eng/introduction/location.jsp') Driving directions in Korean
        |  (or just use GPS)
section.page-section
  .container.small
    h2.section-title.accomodation Accomodation
img.full-bleed(src='/img/location/accomodation.jpg')
section.page-section
  .container.small
    h4 Hanok Village
    p
      | Jeonju is home to the largest Hanok Village in Korea. With over 800 Hanok houses, it&apos;s become Jeonju&apos;s largest tourist draw. If you want an &quot;authentic&quot; Korean experience, we highly recommend staying in one of the dozens of Hanok hotels available.
    p Below are some recommended Hanok stays.
    ul
      li
        a(href='http://www.xn--3v0br0my7mla69px00b.com/') Laon Hanok Guest House
      li
        a(href='http://www.booking.com/hotel/kr/my-stay.en-gb.html') My Stay
    h4 Shinsikaji
    img(src='/img/location/nightlife.jpg')
    br
    p
      | There are also numerous hotels and motels available closer to Jeonju&apos;s nightlife in Shinsikaji, which is located just a short distance from the University in Hyoja Dong. You can usually walk in and book a room on the spot for around 40,000 per night (but it depends on availability).
    p Please let us know at the Conference if you need any help booking a room.
    p
      | Or, should you run into any difficulty finding your way, please contact our chapter&apos;s president, Ingrid, at
