//
  <hgroup class="page-title container">
  <img src="/img/jnj-kotesol-logo-2.png">
  <h1><span class="screen-reader-text">Jeonju-North Jeolla KOTESOL</span> 2018 Regional Conference</h1>
  </hgroup>
//
  <div class="container">
  <div class="page-callout">
  <p>KOTESOL is a non-profit, professional organization that seeks to assist teachers in self-development and improve English Language Teaching in Korea. At the JNJ Regional Conference, prepare to "Learn - Share - Succeed."</p>
  </div>
  </div>
