hgroup.page-title.container
  img(src='/img/jnj-kotesol-logo-2.png')
  h1
    span.screen-reader-text Jeonju-North Jeolla KOTESOL
    |  2018 Regional Conference
.container
  .page-callout
    p
      | fda is a non-profit, professional organization that seeks to assist teachers in self-development and improve English Language Teaching in Korea. At the JNJ Regional Conference, prepare to &quot;Learn - Share - Succeed.&quot;
