.container
  .keypoint.key-one
    img(src='/img/icons/notepad.png', alt='Key icon one')
    div
      h3 Learn
      p
        | Korea TESOL (aka KOTESOL) is an English teachers association dedicated to improving English language teaching and learning not only for our members but for all teachers in Korea, and beyond.
  .keypoint.key-two
    img(src='/img/icons/presentation.png', alt='Key icon two')
    div
      h3 Share
      p
        | The role of KOTESOL is to promote scholarship, disseminate information, and facilitate cross-cultural understanding among persons concerned with teaching and learning of English in Korea.
  .keypoint.key-three
    img(src='/img/icons/success.png', alt='Key icon three')
    div
      h3 Succeed
      p
        | All English teachers or English-based businesses, of any level or nationality, are eligible to join KOTESOL. Find out more at 
        a(href='www.koreatesol.org/join-kotesol') www.koreatesol.org/join-kotesol
