.call-to-action
  .container.small
    h2.call-title Pre-registration
    p Don't miss this opportunity to meet with some of the top professionals in this field! Pre-register today for a discount!
    a.button.btn.right.big(href='https://koreatesol.org/content/2019-national-conference-pre-registration') 
      | Register
    p Pre-registration closes on 
      strong May 10, 2019, 
      | midnight KST.