// Schedule
.conference-schedule.container.small
  h2.page-section-title Conference Schedule
  table.schedule-section
    tr.schedule-header
      th.schedule-time Time
      th.schedule-session Session
      th.schedule-speaker Speaker
      th.schedule-venue Venue
    tr
      td.schedule-time 1:00 pm
      td.schedule-session(colspan='2') Registration
      td.schedule-venue Foyer
    tr
      td.schedule-time 1:15 pm
      td.schedule-session(colspan='2') Opening Ceremony
      td.schedule-venue Room 1
    tr
      td.schedule-time(rowspan='3') 1:30 pm
      td.schedule-span(colspan='3')
        | Workshops A 
        span (50 min)
    tr
      td.schedule-session
        a(href='/speakers/Jeffrey_Shelley') Anthropology: Building a Class Culture with Impact
      td.schedule-speaker J. Shea Lee
      td.schedule-venue Room 1
    tr
      td.schedule-session
        a(href='/speakers/Paul_Johnson') To Be Rather than to Seem: Teaching Tips from a Punk Existentialist
      td.schedule-speaker Paul Johnson
      td.schedule-venue Room 2
    tr
      td.schedule-time(rowspan='3') 2:30 pm
      td.schedule-span(colspan='3')
        | Workshops B 
        span (50 min)
    tr
      td.schedule-session
        a(href='/speakers/Luis_Caballero') Using Critical Pedagogy in the EFL Classroom
      td.schedule-speaker Luis Caballero
      td.schedule-venue Room 1
    tr
      td.schedule-session
        a(href='/speakers/Rhea_Metituk') Integration Station &ndash; Increasing Student Talking time &amp; Spicing up the Classroom
      td.schedule-speaker Rhea Metituk
      td.schedule-venue Room 2
    tr
      td.schedule-time(rowspan='3') 3:30 pm
      td.schedule-span(colspan='3')
        | Presentations 
        span (30 min)
    tr
      td.schedule-session
        a(href='/speakers/Maria_Lisak') Snowstorms &amp; Cheatsheets - End of Term Reflection
      td.schedule-speaker Maria Lisak
      td.schedule-venue Room 1
    tr
      td.schedule-session
        a(href='/speakers/Aaron_Snowberger') Atomic Habits that will turn you into a Superhero
      td.schedule-speaker Aaron Snowberger
      td.schedule-venue Room 2
    tr
      td.schedule-time(rowspan='2') 4:00 pm
      td.schedule-span(colspan='3')
        | Teaching Tips 
        span (15 min)
    tr
      td.schedule-session
        a(href='/speakers/Hannah_Jones') Creating an Interactive Classroom
      td.schedule-speaker Hannah Jones
      td.schedule-venue(rowspan='4') Room 1
    tr
      td.schedule-time 4:15 pm
      td.schedule-session
        a(href='/speakers/Sunhee_Ko')
          | Acting Out!: Exploring the Effects of Drama Techniques on Korean Middle School English Learners
      td.schedule-speaker Sunhee Ko
    tr
      td.schedule-time 4:30 pm
      td.schedule-session(colspan='2') Closing Ceremony &amp; Prize Draw
    tr
      td.schedule-time(rowspan='2') 5:00 pm
      td.schedule-span(colspan='3') After party &amp; dinner
    tr
      td.schedule-session(colspan='2') Restaurant in Shinshikaji
      td.schedule-venue TBA
  p.info Tentative schedule. Times subject to change without notice.
