// Schedule
.conference-schedule.container
  header.title-bar
    h2.page-section-title Conference Schedule
  .schedule
    // Row 1 - Headings
    p.day.no-border
    p.day.day-1 Onnuri
    p.day.day-2 201
    p.day.day-3 202
    p.day.day-4 203
    //- p.day.day-5 201
    //- p.day.day-6 202
    p.day.day-5.no-border 204
    // Row 2 - Dates
    p.date.no-border
    p.date
      strong 17 Aug |
      |  Thurs
    p.date
      strong 18 Aug |
      |  Fri
    p.date
      strong 19 Aug |
      |  Sat
    p.date
      strong 20 Aug |
      |  Sun
    p.date.no-border
      strong 21 Aug |
      |  Mon
    // Times
    p.time 9 am
    p.time 10 am
    p.time 11 am
    p.time Noon
    p.time 1 pm
    p.time 2 pm
    p.time 3 pm
    p.time 4 pm
    p.time 5 pm
    p.time 6 pm
    p.time 7 pm
    p.time 8 pm
    p.time 9 pm
    p.time 10 pm
    // Thursday
    .seminar.thurs.reg
      p.seminar-title Conference Registration
      p.seminar-location ICC Sydney (all day)
    .seminar.thurs.tours
      p.seminar-title Pre-conference Tours
      p.seminar-location ICC Sydney
      p.seminar-time (10 AM - 6 PM)
    .seminar.thurs.opening
      p.seminar-title Opening Ceremony
      p.seminar-location
        | ICC - Floor 2
        br
        | Parkside Ballroom
      p.seminar-time (6 PM - 7:30 PM)
    .seminar.thurs.reception
      p.seminar-title Cocktail Reception
      p.seminar-location Harbour Cruise
      p.seminar-time (8 PM - 10 PM)
    .seminar.thurs.night
    // Friday
    .seminar.fri.morn
    .seminar.fri.plenary
      p.seminar-title Plenary
      p.seminar-location
        | ICC - Floor 2
        br
        | Parkside Ballroom
      p.seminar-time (10 AM - 12 PM)
    .seminar.fri.lunch
      p.seminar-title Lunch (12 PM - 1 PM)
      p.seminar-location ICC - Floor 2 Parkside Ballroom + Foyer
    .seminar.fri.field-trips
      p.seminar-title Field Trips
      p.seminar-location Various locations around Sydney
      p.seminar-time (1 PM - 7 PM)
    .seminar.fri.aus-night
      p.seminar-title Australia Night
      p.seminar-location Doltone House, Jones Bay Wharf
      p.seminar-time (7 PM - 10 PM)
    // Saturday
    .seminar.sat.buses
      p.seminar-title Board Buses to University of Sydney
    .seminar.sat.welcome
      p.seminar-title Welcome Ceremony
      p.seminar-location MacLaurin Hall
      p.seminar-time (10 AM - 11 AM)
    .seminar.sat.tour
      p.seminar-title Campus Tours
    .seminar.sat.lunch
      p.seminar-title Lunch (12 PM - 1 PM)
      p.seminar-location Abercrombie Building
    .seminar.sat.panel
      p.seminar-title Panel Discussions
      p.seminar-location Abercrombie Building
      p.seminar-time (1 PM - 3 PM)
    .seminar.sat.seminars
      p.seminar-title Seminars
      p.seminar-location Abercrombie Building
      p.seminar-time (3 PM - 4 PM)
    .seminar.sat.hunt
      p.seminar-title Scavenger Hunt
      p.seminar-location 4 PM - 5:30 PM
    .seminar.sat.dinner
      p.seminar-title Dinner + International Night Booth Displays
      p.seminar-location Quadrangle
      p.seminar-time (5:30 PM - 7 PM)
    .seminar.sat.performances
      p.seminar-title International Night Performances
      p.seminar-location Wallace Theatre
      p.seminar-time (7 PM - 9 PM)
    .seminar.sat.hotel
      p.seminar-title Board buses back to hotels
    // Sunday
    .seminar.sun.morn
    .seminar.sun.intro
      p.seminar-title Impact Challenge Introduction
      p.seminar-location ICC - Floor 3 + 4 Breakout Rooms
    .seminar.sun.work
      p.seminar-title Impact Challenge Work Time
    .seminar.sun.lunch
      p.seminar-title Lunch (12 PM - 1 PM)
      p.seminar-location ICC - Floor 3 + 4 + Foyer
    .seminar.sun.work-2
      p.seminar-title
        | Impact Challenge Work Time
        br
        br
        | (continued)
    .seminar.sun.ppts
      p.seminar-title Impact Challenge Presentations
      p.seminar-location ICC Floor 3 + 4 Breakout Rooms
      p.seminar-time (5 PM - 7 PM)
    .seminar.sun.night.free-night Free Night
    .seminar.sun.night
    // Monday
    .seminar.mon.hpairx
      p.seminar-title HPAIRx (10 AM - 11 AM)
      p.seminar-location
        | ICC - Floor 2
        br
        | Parkside Ballroom 1
    .seminar.mon.plenary
      p.seminar-title Plenary
      p.seminar-location
        | ICC - Floor 2
        br
        | Parkside Ballroom 1
      p.seminar-time (11 AM - 1 PM)
    .seminar.mon.lunch
      p.seminar-title Lunch (1 PM - 2 PM)
      p.seminar-location ICC - Floor 2 + Foyer + Parkside Ballroom 2
    .seminar.mon.fair
      p.seminar-title Careers Fair
      p.seminar-location
        | ICC - Floor 2
        br
        | Parkside Ballroom 1
      p.seminar-time (2 PM - 4 PM)
    .seminar.mon.panel
      p.seminar-title Speed Panel Session
      p.seminar-location ICC - Floor 3 + 4 Breakout Rooms
      p.seminar-time (4 PM - 6 PM)
    .seminar.mon.night
    .seminar.mon.closing
      p.seminar-title Closing Ceremony &amp; Gala Dinner
      p.seminar-location
        | ICC - Floor 5
        br
        | Grand Ballroom
      p.seminar-time (7 PM - 9 PM)
    .seminar.mon.empty
    .seminar.mon.after
      p.seminar-title Afterparty

  .center
    p.info Tentative schedule. Times subject to change without notice.