.container
  article
    .speaker-list
      h2.section-title More Speakers
      .grid
        //
          <div class="grid-item grid-title">
          <div class="grid-inner"><a href="/speakers"><span>More</span> Speakers</a></div>
          </div>
        each speaker in speakerNames
          .grid-item.photo
            .grid-inner(style="background-image: url('/img/people/#')")
              .speaker-meta-box
                .speaker-meta
                  a(href=`/speakers/${speaker.shortname}`)
                    p.speaker-name=speaker.name
                  p.speaker-affiliation #
                  p.speaker-details #
