section.site-footer
  .container
    ul.conference-details-nav
      li.conference-details-nav-item
        a(href='/') Home
      li.conference-details-nav-item
        a(href='/speakers') Speakers
      li.conference-details-nav-item
        a(href='/schedule') Schedule
      li.conference-details-nav-item
        a(href='/location') Location
      li.conference-details-nav-item
        a(href='/sponsors') Sponsors
      li.conference-details-nav-item
        a(href='/tickets') Tickets
    ul.conference-details-nav
      li.conference-details-nav-item
        a(href='/team') About
      li.conference-details-nav-item
        a(href='https://koreatesol.org/join-kotesol') Membership
      li.conference-details-nav-item
        a(href='/code-of-conduct') Code of Conduct
      li.conference-details-nav-item
        a(href='/privacy') Privacy Policy
      li.conference-details-nav-item
        a(href='mailto:jnjconference@gmail.com') Contact Us
      //
        <li class="conference-details-nav-item">
        <a href="/chat">Chat</a>
        </li>
    nav.social-nav
      img.footer-logo-img(src='/img/kotesol-logo.png')
      ul.social-nav-list
        li.social-nav-item
          a(href='http://facebook.com/jnjkotesol')
            span.screen-reader-text Facebook
        li.social-nav-item
          a(href='http://instagram.com/jnjkotesol')
            span.screen-reader-text Instagram
        li.social-nav-item
          a(href='http://koreatesol.org')
            span.screen-reader-text KOTESOL
        li.social-nav-item
          a(href='mailto:jnj.presenters@gmail.com')
            span.screen-reader-text Email
footer.site-credits
  .container
    p.copyright
      | &copy; 2018 JNJ KOTESOL. All rights reserved.
      span
        | Coded by 
        a(href='https://aaron.kr') Aaron Snowberger
        |  / Inspired by 
        a(href='https://websummit.com/') Web Summit 2018
    p.credits
      span
        | Brain image by 
        a(href='https://www.flickr.com/photos/flamephoenix1991/8376271918') _DJ_
        |  from 
        a(href='https://flickr.com') www.flickr.com
        |  / 
        a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC BY-SA 2.0
      span
        | Icons by 
        a(href='https://www.flaticon.com/authors/becris', title='Brainstorming') Brainstorming
        |  from 
        a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
        |  / 
        a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC BY 3.0
