section.site-footer
  .container
    .about-us
      h3 About Us
      p Join us in Jeonju, the food capital of Korea, this May! The 2019 KOTESOL National Conference will kick off on May 25th in Jeonju University's Onnuri Hall. It will feature a variety of speakers covering ELT topics from beginner to expert levels.
      p We're expecting over 300 attendees and are anticipating another great conference!
      h3 Hosted by
      nav.social-nav
        img.footer-logo-img(src='/img/kotesol-logo.png')
        ul.social-nav-list
          li.social-nav-item
            a(href='http://facebook.com/jnjkotesol')
              i.fab.fa-facebook
              span.screen-reader-text Facebook
          li.social-nav-item
            a(href='http://instagram.com/jnjkotesol')
              i.fab.fa-instagram
              span.screen-reader-text Instagram
          li.social-nav-item
            a(href='http://koreatesol.org')
              i.fas.fa-globe
              span.screen-reader-text KOTESOL
          li.social-nav-item
            a(href='mailto:jnj.presenters@gmail.com')
              i.far.fa-envelope
              span.screen-reader-text Email
    nav.footer-navigation
      ul.conference-details-nav
        li.conference-details-nav-item
          a(href='/') Home
        li.conference-details-nav-item
          a(href='/speakers') Speakers
        li.conference-details-nav-item
          a(href='/schedule') Schedule
        li.conference-details-nav-item
          a(href='/location') Location
        li.conference-details-nav-item
          a(href='/sponsors') Sponsors
        li.conference-details-nav-item
          a(href='/tickets') Tickets
      ul.conference-details-nav
        //- li.conference-details-nav-item
        //-   a(href='/team') Team
        li.conference-details-nav-item
          a(href='https://koreatesol.org/join-kotesol') Membership
        li.conference-details-nav-item
          a(href='/code-of-conduct') Code of Conduct
        li.conference-details-nav-item
          a(href='/privacy') Privacy Policy
        li.conference-details-nav-item
          a(href='mailto:jnj.presenters@gmail.com') Contact Us
        //
          <li class="conference-details-nav-item">
          <a href="/chat">Chat</a>
          </li>
.topbutton
  i.fas.fa-arrow-up
footer.site-credits
  .container
    p.copyright
      | &copy; 2019 JNJ KOTESOL. All rights reserved.
      span
        | Coded with ⚡️ by 
        a(href='https://aaron.kr') Aaron Snowberger
        br
        |  Inspired by 
        a(href='https://thenextweb.com/conference/') The Next Web Conference 
        | and 
        a(href='https://infinite.red/ChainReactConf/') Chain React Conference
      //- span.render-time=renderTime
    if pageId === 'home'
      p.credits
        //- span
        //-   | Brain image by 
        //-   a(href='https://www.flickr.com/photos/flamephoenix1991/8376271918') _DJ_
        //-   |  from 
        //-   a(href='https://flickr.com') www.flickr.com
        //-   |  / 
        //-   a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC BY-SA 2.0
        //- br
        span
          | Icons by 
          a(href='https://www.flaticon.com/authors/becris', title='Brainstorming') Brainstorming
          |  from 
          a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
          |  / 
          a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC BY 3.0
