//- include call
.site-banner.top
  //- hgroup.site-title
  //-   a(href='/')
  //-     img.logo-image(src='/img/kotesol-logo.png')
  header
    .header-top
      //- hgroup.site-title
      //-   a(href='/')
      //-     img.logo-image(src='/img/kotesol-logo.png')
      hgroup  
        h1
          span.site-title
            a(href='/')
              img.logo-image(src='/img/kotesol-logo.png')
          span.screen-reader-text KOTESOL 
          span.site-title-text 2019 National Conference
      .banner-right
        .box
          p.banner-location
            | May 25, 2019 / 9am
            br
            a(href='/location') Jeonju
          .top-buttons
            a.button.ticket-button(href='/tickets') Tickets
            button.site-mobile-menu-button.not-home.show
              i.fa.fa-bars
              |  Menu
    .header-bottom
      ul.center
          li.site-menu-item
            a(href='/speakers') Speakers
          li.site-menu-item
            a(href='/schedule') Schedule
          li.site-menu-item
            a(href='/location') Location
          li.site-menu-item
            a(href='/sponsors') Sponsors
          li.site-menu-item
            a(href='/feedback') Feedback
nav.site-navigation.mobile-menu
  ul.site-menu
    .container
      li.site-menu-item.supplementary
        a(href='/') Home
      li.site-menu-item.supplementary
        a(href='/speakers') Speakers
      li.site-menu-item.supplementary
        a(href='/schedule') Schedule
      li.site-menu-item.supplementary
        a(href='/location') Location
      li.site-menu-item.supplementary
        a(href='/sponsors') Sponsors
      li.site-menu-item.supplementary
        a(href='/feedback') Feedback
      li.site-menu-item.supplementary
        a(href='/tickets') Tickets
      li.site-menu-item.supplementary.line(role='separator')
      li.site-menu-item.supplementary
        a(href='/team') Team
      li.site-menu-item.supplementary
        a(href='/code-of-conduct') Code of Conduct
      li.site-menu-item.supplementary
        a(href='/privacy') Privacy Policy
      li.site-menu-item.supplementary
        a(href='mailto:jnjconference@gmail.com') Contact Us
      li.site-menu-item.supplementary.line(role='separator')
      li.site-menu-item.supplementary
        a.red-text(href='/jnjkotesol-2018-booklet.pdf') Booklet

