//- Page: Index (Home page)
extends layout/index
block hero
  //- include partials/hero
  figure.hero
    img(src='/design/web/kotesol-natcon-2019-cloud-wide.jpg')

block content
  section.site-header
    //- .hero
  .conference-info
    .container
      h3.page-subtitle
        | May 25, 2019, 
        a(href='/location') Jeonju
      img.conference-logo(src='/design/web/kotesol-natcon-2019-logo.png')
      //- h2.conference-title Join us at the 2019 KOTESOL National Conference!
      //- .countdown
      //-   p 137
      //-     span days
      //-   p 12
      //-     span hrs
      //-   p 4
      //-     span mins
      //-   p 23
      //-     span sec
      aside.countdown-clock
        ul#countdown
          li#days
            .number 00
            .label Days
            //- Try to get these responsive with help from: https://codepen.io/jonespen/pen/tLhdy
            svg.pie-plate(width='100', height='100', viewBox="0 0 100 100", preserveAspectRatio="xMinYMin meet")
              circle.pie(r='50', cx='50', cy='50')
          li#hours
            .number 00
            .label Hours
            svg.pie-plate(width='100', height='100', preserveAspectRatio="xMinYMin meet")
              circle.pie(r='50', cx='50', cy='50')
          li#minutes
            .number 00
            .label Minutes
            svg.pie-plate(width='100', height='100')
              circle.pie(r='50', cx='50', cy='50', stroke-dasharray='10')
          li#seconds
            .number 00
            .label Seconds
            svg.pie-plate(width='100', height='100')
              circle.pie(r='50', cx='50', cy='50')

      p.page-note 
        | Pre-registration closes May 10!
        br 
        | Sign up now! 
        a(href='https://koreatesol.org/content/2019-national-conference-pre-registration') Register
      p.presented-by 
        | Presented by
        a(href="https://koreatesol.org")
          img(src='/img/kotesol-logo.png')
  include partials/whatis

  section.page-section.keypts
    include partials/keypts

  section.pages-section.plenary
    include partials/plenary

  section.call 
    include partials/prereg

  section.page-section.speakers
    include partials/speaker-grid 

  //- section.page-section.schedule.parallax 
  //-   include partials/schedule-table-outline

  section.page-section.schedule.parallax 
    include partials/schedule-table 

  //- section.page-section.parallax 
  //-   include partials/schedule-grid 

  //- section.page-section.buzz 
  //-   include partials/buzz-grid
  
  //- section.page-section.gallery 
  //-   include partials/gallery-grid

  section.page-section.sponsors 
    include partials/sponsors-list 

  section.sponsors-call 
    include partials/call-sponsors

  section.conference-map
    include partials/map 