//- Page: Index (Home page)
extends layout/index
block hero
  //- include partials/hero
  figure.hero
    img(src='/design/web/kotesol-natcon-2019-cloud-wide.jpg')
  include partials/whatis

block content
  section.site-header
    //- .hero
  .conference-info
    .container
      h3.page-subtitle
        | May 25, 2019, 
        a(href='/location') Jeonju
      img.conference-logo(src='/design/web/kotesol-natcon-2019-logo.png')
      //- h2.conference-title Join us at the 2019 KOTESOL National Conference!
      //- .countdown
      //-   p 137
      //-     span days
      //-   p 12
      //-     span hrs
      //-   p 4
      //-     span mins
      //-   p 23
      //-     span sec
      aside.countdown-clock
        ul#countdown
          li#days
            .number 00
            .label Days
            svg.pie-plate(width='100', height='100')
              circle.pie(r='50', cx='50', cy='50')
          li#hours
            .number 00
            .label Hours
            svg.pie-plate(width='100', height='100')
              circle.pie(r='50', cx='50', cy='50')
          li#minutes
            .number 00
            .label Minutes
            svg.pie-plate(width='100', height='100')
              circle.pie(r='50', cx='50', cy='50', stroke-dasharray='10')
          li#seconds
            .number 00
            .label Seconds
            svg.pie-plate(width='100', height='100')
              circle.pie(r='50', cx='50', cy='50')

      p.page-note 
        | Pre-registration opens soon!
        br 
        | Interested in presenting? 
        a(href='button btn') Submit a Talk
      p.presented-by 
        | Presented by
        img(src='/img/kotesol-logo.png')
  section.page-section.whatis

  section.page-section.keypts
    h1 KeyPts
    include partials/keypts

  section.page-section.speakers
    include partials/speaker-grid 

  section.page-section.schedule.parallax 
    include partials/schedule-table 

  section.page-section.buzz 
    include partials/buzz-grid
  
  section.page-section.gallery 
    include partials/gallery-grid

  section.page-section.sponsors 
    include partials/sponsors-list 

  section.conference-map
    include partials/map 