//- Page: Index (Home page)
block content
  section.site-header
  .hero
  .flex-it.container
    .left-half
      h2.page-title Join us at the 2019 KOTESOL National Conference
      h3.page-subtitle
        | May 18, 2019, 
        a(href='/location') Jeonju
      p.page-note Pre-registration opens soon!
      a(href='button btn') Get notified
    .right-half
  section.page-section.whatis

  section.page-section.keypts
    h1 KeyPts
    include keypts

  section.page-section.speakers
    include speaker-grid 

  section.page-section.schedule.parallax 
    include schedule 

  section.page-section.buzz 
    include buzz 
  
  section.page-section.gallery 
    include gallery 

  section.page-section.sponsors 
    include sponsors-list 

  section.conference-map
    include map 