//- Page: Location
extends layout/index
block content
  header.page-section
    .container
      h2.page-section-title Conference Venue
      p.section-subtitle.center Jeonju University, Star Center 
      p.center
        a.button(href='http://koreatesol.org/content/jeonju-venue-directions') Venue Directions PDF
  include partials/directions
  include partials/map