//- Page: Not Found (404)
extends layout/index
block content
  header.page-section
    .container
      h2.page-section-title Not Found
      p.section-subtitle.center Whoops! Are you lost?
  section.page-section
    .container.small
      h1 404
      h2 Page not found.