//- Page: Speakers
extends layout/index
block content
  //- include partials/speaker-grid 
  //- include partials/speaker-single 
  header.page-section
    .container
      h2.page-section-title Speakers
      p.section-subtitle.center Big names, Bigger ideas

  section.page-section
    include partials/plenary
  //- include partials/prereg
  include partials/speaker-list