//- Page: Speakers
extends layout/index
block content
  //- include partials/speaker-grid 
  //- include partials/speaker-single 
  section.page-section
    .container
      h2.section-title Speakers
      p.section-subtitle.center Big names, Bigger ideas
  include partials/speaker-list