//- Page: Sponsors
extends layout/index
block content
  header.page-section
    .container
      h2.page-section-title Our sponsoring partners
      p.section-subtitle.center Let's grow together.
  section.page-section.sponsors
    .container.small
      p
        | If you&apos;re interested in becoming a sponsoring partner, we&apos;d 
        a(href='mailto:jnjconference@gmail.com') love to chat
        | . We look forward to working with companies and organizations ready and excited to help further English education and training in Korea.
      h4.sponsor-section-title Our Hosting Partners
      // JJU
      ul.sponsor-list
        li.sponsor-list-item.hosting-partner
          a(href='http://www.jj.ac.kr/')
            img.sponsor-logo(src='/img/sponsors/jju-logo.png')
        li.sponsor-list-item.hosting-partner
          h5.sponsor-name Jeonju University
          p.sponsor-description
            | Jeonju University is a private university located on the west end of Jeonju. It has been host to the Jeonju-North Jeolla KOTESOL chapters workshops and Conferences since 2014.
      // KOTESOL
      ul.sponsor-list
        li.sponsor-list-item.hosting-partner
          a(href='https://koreatesol.org/')
            img.sponsor-logo(src='/img/sponsors/kotesol-landscape.png')
        li.sponsor-list-item.hosting-partner
          h5.sponsor-name KOTESOL
          p.sponsor-description
            | KOTESOL is a non-profit, professional organization that seeks to assist teachers in self-development and improve English Language Teaching in Korea.
    //- .container.sponsor-list-container
    //-   h4.sponsor-section-title Our Sponsors
    //-   // GOLD Sponsors (200,000)
    //-   h5.sponsor-level-title Gold
    //-   ul.sponsor-list
    //-     // TOP Bookstore
    //-     li.sponsor-list-item.gold-sponsor
    //-       a(href='http://naver.me/xi0JL0WB')
    //-         img.sponsor-logo(src='/img/sponsors/top-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name TOP Bookstore
    //-         small.sponsor-address
    //-           a(href='http://naver.me/xi0JL0WB') 전주시 완산구 동문길 110
    //-   // SILVER Sponsors (100,000)
    //-   h5.sponsor-level-title Silver
    //-   ul.sponsor-list
    //-     // Tacocina
    //-     li.sponsor-list-item.silver-sponsor
    //-       a(href='https://www.facebook.com/Tacocina-%ED%83%80%EC%BD%94%EC%94%A8%EB%82%98-230582780692767/')
    //-         img.sponsor-logo(src='/img/sponsors/tacocina-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name Tacocina
    //-         small.sponsor-address
    //-           a(href='http://naver.me/5vAEJdag') 전주시 완산구 효자동3가 1534-3
    //-     // Lemon Tree Cafe
    //-     li.sponsor-list-item.silver-sponsor
    //-       a(href='http://naver.me/5bbqCFuG')
    //-         img.sponsor-logo(src='/img/sponsors/lemontree-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name Lemon Tree Cafe
    //-         small.sponsor-address
    //-           a(href='http://naver.me/5bbqCFuG') 전주시 완산구 전라감영로 75
    //-     // Cambridge University Press
    //-     li.sponsor-list-item.silver-sponsor
    //-       a(href='http://naver.me/5bbqCFuG')
    //-         img.sponsor-logo(src='/img/sponsors/cambridge-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name Cambridge University Press
    //-         // <small class="sponsor-address"><a href="http://naver.me/5bbqCFuG">전주시 완산구 전라감영로 75</a></small>
    //-   // BRONZE Sponsors (50,000)
    //-   h5.sponsor-level-title Bronze
    //-   ul.sponsor-list
    //-     // The Liter Coffee
    //-     li.sponsor-list-item.bronze-sponsor
    //-       a(href='http://www.theliter.co.kr/')
    //-         img.sponsor-logo(src='/img/sponsors/liter-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name The Liter Coffee
    //-         small.sponsor-address
    //-           a(href='http://naver.me/5cH9nbQC') 전주시 완산구 유연로308
    //-     // Yega Restaurant
    //-     li.sponsor-list-item.bronze-sponsor
    //-       a(href='http://naver.me/5nM2hnF3')
    //-         img.sponsor-logo(src='/img/sponsors/yega-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name Yega Restaurant
    //-         small.sponsor-address
    //-           a(href='http://naver.me/5nM2hnF3') 전북 완주군 구이면 모악산길 112
    //-     // English Garden
    //-     li.sponsor-list-item.bronze-sponsor
    //-       a(href='http://naver.me/xdodjYGu')
    //-         img.sponsor-logo(src='/img/sponsors/english-garden-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name English Garden
    //-         small.sponsor-address
    //-           a(href='http://naver.me/xdodjYGu') 전주시 완산구 화산천변 3길 4-3
    //-     // March Rabbit
    //-     li.sponsor-list-item.bronze-sponsor
    //-       a(href='http://marchrabbit.co.kr/')
    //-         img.sponsor-logo(src='/img/sponsors/march-rabbit-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name March Rabbit
    //-         small.sponsor-address
    //-           a(href='http://naver.me/G6hzRKmr') 전주시 완산구 홍산남로 30
    //-     // Solasta Yoga
    //-     li.sponsor-list-item.bronze-sponsor
    //-       a(href='https://www.facebook.com/groups/solastayoga/')
    //-         img.sponsor-logo(src='/img/sponsors/solasta-logo.png')
    //-       .sponsor-meta
    //-         h5.sponsor-name Solasta Yoga
    //-         small.sponsor-address
    //-           a(href='http://naver.me/xeYZFhCk') 전주시 완산구 홍산남로 29-15 휴본빌딩 3층
    //-   // <button class="sponsor-button">Become a sponsor</button>
