doctype html 
html
  head
    include includes/html-head
body
  include includes/header
  block hero
  block content
    h1 This page has no content yet.
  include includes/footer 
  include includes/scripts